.landing, .intro
  padding: 1px
  text-align: center
  font-family: $font3

.landing
  background: linear-gradient( rgba(255, 215, 15, 0.5), rgba(255, 215, 15, 0.5) ), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/shoes.jpg) no-repeat
  background-position: center center
  +background-size(cover)
  height: 65vh

.intro
  height: 35vh
  .divider
    background-color: yellowgreen
    height: 5px
    width: 100px
    margin: 20px auto

  .container-box
    width: 750px
    margin-left: auto
    margin-right: auto
    padding-left: 20px
    padding-right: 20px
  .info
    margin: 50px 20px