template(name="animatedHeadlines")
  section.cd-intro
    h1.cd-headline.rotate-1(class="{{animateType}}")
      span {{prefix}}
      span.cd-words-wrapper
        b.is-visible Anything
        b Website
        each words
          b {{this}}
      span {{suffix}}